body {
  height: 100vh;
}

/* width */
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #444444;
  border-radius: 10px;
}

/* Handle on Hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #909090;
}


/**
* Side Bar Scroll
*/
#expanded_sidebar::-webkit-scrollbar-thumb {
  background-color: transparent;
}

#expanded_sidebar:hover::-webkit-scrollbar-thumb {
  background-color: #909090;
}

/* 
* Filterbar Scroll
*/

#filterbar::-webkit-scrollbar {
  display: none;
}

/* 
* Video elements
*/
li > .video_component_card:hover {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 60;
  transform: scaleY(110%) scaleX(110%) translateY(3%);
  transition: transform 200ms ease-in;
  /* transition-delay: 300ms; */
}

.card_buttons {
  display: none;
  visibility: hidden;
  opacity: 0;
}

li > .video_component_card:hover .card_buttons {
  display: block;
  visibility: visible;
  opacity: 1;
  transition: all 200ms ease-in;
}

li > .video_component_card:hover .video_card_image {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  transition: all 200ms ease-in;
}

/* Video Title */
.video-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* 
* Upload Dropdown 
*/

#upload_dropdown {
  box-shadow: rgba(17, 17, 26, 0.02) 0px 4px 16px,
    rgba(17, 17, 26, 0.02) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

/*
* Notifications
*/
#notifications_dropdown {
  box-shadow: rgba(17, 17, 26, 0.02) 0px 4px 16px,
    rgba(17, 17, 26, 0.02) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

/*
* Notification Options
*/
#notification_option_dropdown {
  box-shadow: rgba(17, 17, 26, 0.02) 0px 4px 16px,
    rgba(17, 17, 26, 0.02) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

/* width */
#notifications_list::-webkit-scrollbar {
  width: 7px;
}

/* Handle */
#notifications_list::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* Handle on hover */
#notifications_list:hover::-webkit-scrollbar-thumb {
  background-color: #909090;
}
/* 
@media (max-width: 768px) {
  
} */